megfile
opencv-python
jsonlines
pydantic
fastapi
uvicorn

pymongo
openai==1.95.1
httpx==0.28.1
httpcore==1.0.5
h11==0.14.0

pandas
Pillow
openpyxl

streamlit
tqdm
requests

fastmcp==2.14.2
opentelemetry-api==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-exporter-prometheus==0.60b1
cffi==1.17.1
cryptography==42.0.7
anyio==4.6.2
